<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="userheadercss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</div>
<div th:fragment="userheader-fragment">
    <div class="usenav">
        <a href="/new-form">Formularz zgłoszenia przejazdu</a>
        <a href="/">Historia zgłoszeń</a>
        <a href="/" style="float: right">Wyloguj</a>
    </div>
</div>