<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<!--<div th:fragment="userheadercss">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="/css/main.css">-->
    <!--<link rel="stylesheet" href="/css/user.css">-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--</div>-->
<!--<div th:fragment="userheader-fragment">-->
    <!--<div class="usenav">-->
        <!--<a href="/new-form">Formularz zgłoszenia przejazdu</a>-->
        <!--<a href="/">Historia zgłoszeń</a>-->
        <!--<a href="/" style="float: right">Wyloguj</a>-->
    <!--</div>-->
<!--</div>-->

<header th:fragment="menuHeader" id="content-pane">
    <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
        <div class="w3-section w3-bottombar w3-padding-16">
            <span class="w3-margin-right">Panel klienta</span>
            <span class="w3-margin-right">Wyloguj</span>
            <!--<p style="color: black; float: right" th:if="${@passengerContext.isLoggedIn()}"-->
            <!--th:text="${@passengerContext.provideUsername()}">User</p>-->
        </div>
    </div>
</header>