<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="userheadercss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/user.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</div>
<div th:fragment="userheader-fragment">
    <div class="usenav">
        <a href="/users/index">Strona główna</a>
        <a href="/new-form">Formularz zgłoszenia przejazdu</a>
        <a href="/">Historia zgłoszeń</a>
        <a href="/" style="float: right">Wyloguj</a>
        <p style="color: black; float: right" th:if="${@passengerContext.isLoggedIn()}"
           th:text="${@passengerContext.provideUsername()}">User</p>
    </div>
</div>
<div th:fragment="header-fragment">
    <div class="usenav">
        <a href="/">Strona główna</a>
        <a href="/login">Logowanie</a>
        <a href="/register">Rejestracja</a>
    </div>
</div>