<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Mobilny pasażer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>

<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container">
        <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
            <i class="fa fa-remove"></i>
        </a>
        <center><img src="https://lka.lodzkie.pl/_gfx/logo_lmenu_lka.png" style="width:45%;" class="w3-round"><br><br></center>
        <h4><b>Mobilny pasażer</b></h4>
    </div>
    <div class="w3-bar-block">
        <a onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal" href="home2.html">Strona startowa</a>
        <a onclick="w3_close()" class="w3-bar-item w3-button w3-padding">Punktualność pociągów</a>
        <a onclick="w3_close()" class="w3-bar-item w3-button w3-padding" href="/new-form">Zgłoś przejazd</a>
        <a onclick="w3_close()" class="w3-bar-item w3-button w3-padding">Dostępność stacji/przystanku</a>
        <a onclick="w3_close()" class="w3-bar-item w3-button w3-padding">Masz uwagi?</a>
        <a onclick="w3_close()" class="w3-bar-item w3-button w3-padding">Kontakt</a>
    </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

    <!-- Header -->
    <header id="content-pane">
        <a href="#"><img src="/w3images/avatar_g2.jpg" style="width:65px;" class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container">
            <div class="w3-section w3-bottombar w3-padding-16">
                <span class="w3-margin-right">Panel klienta</span>
                <span class="w3-margin-right">Wyloguj</span>
            </div>
        </div>
    </header>

    <!-- End page content -->

    <div> Osoby niepełnosprawne i osoby o ograniczonej sprawności ruchowej mają takie samo,
        jak wszyscy inni obywatele prawo do swobodnego przemieszczania się, swobodnego wyboru i niedyskryminacji.
        Dostępność naszych usług. Łódzka Kolej Aglomeracyjna oferuje przewozy wyłącznie nowoczesnymi pociągami przystosowanymi do zapewniania każdemu pasażerowi swobody w podróży i komfortowego przejazdu: niska podłoga, wysuwany próg, szerokie drzwi, brak schodów wewnątrz pojazdu, windy dla wózków inwalidzkich, przestronne toalety przystosowane dla pasażerów z niepełnosprawnością.
    Jesteśmy „Firmą przyjazną głuchym” – zapewniamy wsparcie tłumacza migowego online Wideotłumacz w kasach biletowych własnych (Łódź Kaliska i Łódź Fabryczna) i agencyjnych (Pabianice, Zduńska Wola, Sieradz), na pokładach pociągów, w Centrum Obsługi Pasażera i za pośrednictwem strony internetowej.
    Kasy biletowe własne i agencyjne wyposażyliśmy także w pętle indukcyjne, żeby ułatwić zakup biletów osobom słabosłyszącym. Urządzenia te są certyfikowane do normy PN EN 60118-4 przez Polską Fundację Osób Słabosłyszących i Spółdzielnię Socjalną FADO.
    Dodatkowa pomoc w podróży
    Pracownicy Łódzkiej Kolei Aglomeracyjnej w trosce o komfort podróży osób niepełnosprawnych i osób o ograniczonej sprawności ruchowej są zawsze gotowi udzielić dodatkowej pomocy w szczególności przy wsiadaniu i wysiadaniu z pociągu. Możliwe jest również zgłoszenie potrzeby uzyskania dodatkowej asysty w odbywanej podróży – poprzez zgłoszenie na minimum 24 godziny chęci przejazdu na numer infolinii 42 205 55 15 lub za pośrednictwem interaktywnego formularza dostępnego poniżej.
    </div>

</div>

<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>
</body>
</html>
