<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <div th:replace="fragments/header :: headerCss"></div>
</head>
<body>

<block id="mySidebar" class="alt" th:include="fragments/sidebar.html :: mySidebar" />
<header th:replace="fragments/header.html :: menuHeader" />


<div class="w3-overlay w3-hide-large w3-animate-opacity"  style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<div class="w3-main" style="margin-left:300px">
    <form class="form-signin" action="/processLogin" method="post">
        <input class="form-control" type="text" name="loginEmail" placeholder="Login/email"><br>
        <input  class="form-control" type="text" name="loginPassword" placeholder="Hasło"><br>
        <button class="btn btn-dark btn-lg btn-outline-dark btn-block">Loguj</button>

    </form>
</div>
</body>
</html>