<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Lista zgłoszeń</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="general.css">

<body class="w3-light-grey w3-content" style="max-width:1600px">

<block id="mySidebar" class="alt" th:include="fragments/sidebar.html :: mySidebar" />

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px" th:replace="fragments/header.html :: menuHeader">
    <!-- Header -->

</div>
<script>
    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }
</script>


     <!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Lista zgłoszeń</title>-->
<!--</head>-->
<!--<style>-->
    <!--input[type=text], select {-->
        <!--width: 100%;-->
        <!--padding: 12px 20px;-->
        <!--margin: 8px 0;-->
        <!--display: inline-block;-->
        <!--border: 1px solid #ccc;-->
        <!--border-radius: 4px;-->
        <!--box-sizing: border-box;-->
    <!--}-->

    <!--input[type=submit] {-->
        <!--width: 100%;-->
        <!--background-color: #DCDCDC;-->
        <!--color: black;-->
        <!--padding: 14px 20px;-->
        <!--margin: 8px 0;-->
        <!--border: solid;-->
        <!--border-radius: 4px;-->
        <!--cursor: pointer;-->
    <!--}-->

    <!--input[type=submit]:hover {-->
        <!--background-color: #45a049;-->
    <!--}-->

    <!--div {-->
        <!--border-radius: 5px;-->
        <!--background-color: #f2f2f2;-->
        <!--padding: 20px;-->
    <!--}-->
<!--</style>-->
<h2>Lista moich zgłoszeń</h2>


<p><b>Iterated List:</b><p>

<table>
    <th:block th:each="item : ${lista}">
        <tr>
            <td th:text="${item.email}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>