<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Mobilny pasażer</title>
<div th:replace="fragments/header :: headerCss"></div>
<style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
</style>

<body class="w3-light-grey w3-content" style="max-width:1600px">



<block id="mySidebar" class="alt" th:include="fragments/sidebar.html :: mySidebar" />
<div class="w3-overlay w3-hide-large w3-animate-opacity" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
<header th:replace="fragments/header.html :: menuHeader" />
<div class="w3-main" style="margin-left:300px">
    <div style="border-radius: 5px; background-color: #f2f2f2; padding: 20px">

    <form method="post" action="/new-ticket" th:object="${ticket}">

        <h3>Informacje kontaktowe:</h3>

        <p><label for="phone">Telefon kontaktowy</label>
        <input type="text" id="phone" placeholder="Wpisz swój numer kontaktowy" th:field="*{phone}"></p>

        <p><label for="email">Adres e-mail:</label>
        <input type="text" id="email" name="e-mail" placeholder="Wpisz swój adres e-mail" required errormessage="Prosimy o podanie adresu e-mail"
               pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" th:field="*{email}"></p>

        <h3>Informacje dotyczące podróży, w trakcie której pożądana jest pomoc</h3>

        <p><label for="travel_date">Dzień przejazdu:</label>
            <input type="date" id="travel_date" name="dzień przejazdu" th:field="*{travel_date}"></p>
        <p><label for="start_point">Stacja początkowa podróży:</label>
            <input type="text" id="start_point" name="start_point" placeholder="Wpisz stację początkową podróży" required errormessage="Prosimy o podanie stacji początkowej"th:field="*{start_point}"></p>
        <p><label for="start_time">Godzina odjazdu:</label>
            <input type="time" id="start_time" name="godzina odjazdu"th:field="*{start_time}"></p>
        <p><label for="intermediate_point">Stacja przesiadkowa:</label>
            <input type="text" id="intermediate_point" name="intermediate_point" placeholder="Jeśli się przesiadasz, wpisz stację przesiadkową podróży"th:field="*{intermediate_point}"></p>
        <p><label for="end_point">Stacja końcowa podróży:</label>
            <input type="text" id="end_point" name="end_point" placeholder="Wpisz stację końcową podróży" required errormessage="Prosimy o podanie stacji końcowej"th:field="*{end_point}"></p>
        <p><label for="end_time">Godzina przyjazdu:</label>
            <input type="time" id="end_time" name="godzina przyjazdu"th:field="*{end_time}"></p>

        <h3>Informacje dotyczące osób wymagających naszego wsparcia</h3>

        <p><label for="passenger_no">Liczba osób, które potrzebują wsparcia w podróży:</label>
            <input type="number" id="passenger_no" name="passenger_no" placeholder="Wpisz liczbę" th:field="*{passenger_no}"></p>
        <label for="reduced_mobility_type">Ograniczenie w poruszaniu się:</label>
        <select id="reduced_mobility_type" name="reduced_mobility_type" th:field="*{reduced_mobility_type}">
            <option value="wheel_chair">Osoba na wózku ręcznym</option>
            <option value="electric_wheelchair">Osoba na wózku elektrycznym</option>
            <option value="blind_person">Osoba niewidoma</option>
            <option value="deaf_person">Osoba głucha</option>
            <option value="person_with_crutches">Osoba o kulach</option>
            <option value="elder_person">Osoba starsza</option>
            <option value="small_child">Osoba z dzieckiem w wózku/ z małym dzieckiem do lat 4</option>
            <option value="other">Inne</option>
        </select>
        <p><label for="additional_info">Dodatkowe informacje dotyczące ograniczenia w poruszaniu się</label>
            <input type="text" id="additional_info" name="additional_info" placeholder="Wypełnij, jeśli chcesz uzupełnić dane dotyczące ograniczenia w poruszaniu się" th:field="*{additional_info}"></p>

        <input type="submit" value="Wyślij zgłoszenie">

        </form>
    </div>

</div>

</body>
</html>
